@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.3;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #161616;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 2.25rem;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  font-weight: 300;
}

#main {
  padding: 1em;
  margin: 1.5rem auto;
}
.banner-bg,
.banner-bgTwo {
  position: absolute;
  background-color: #ec5033;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.banner-bgTwo {
  background-color: #0a0a0a;
}

/* ------------------nav------------- */

.nav {
  padding: 4rem 3.5rem 0 9rem;
}

#about {
  position: absolute;
  right: 2.8em;
  margin: -1em 2em 0 0;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 1px solid rgb(170, 170, 170);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  font-size: 0.85rem !important;
  letter-spacing: -0.8px;
  transition: all 300ms ease-in-out;
}

#about:hover {
  border: none;
  background: cornflowerblue;
  transform: translateY(-10%);
}

#about:hover span {
  display: none;
}

#about:hover:before {
  content: "ME";
}

@media (max-width: 768px) {
  #about {
    margin: 0em -2em 0 0;
  }
}

@media (max-width: 600px) {
  #about {
    margin: 0em -2em 0 0em;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 0.6rem !important;
  }
}

.logo_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_wrap a {
  font-size: 0.88rem;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .nav {
    margin: 1.5rem auto;
    padding: 1rem 2rem 0 2rem;
    width: calc(100% - 0px);
  }
  .logo_wrap a {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: unset;
  }
}

@media (max-width: 600px) {
  .nav {
    margin: 1.5rem auto;
    padding: 1rem 0.5rem 1rem 0.5rem;
    width: calc(100% - 0px);
  }
  .logo_wrap a {
    font-size: 0.78rem;
    font-weight: 400;
    letter-spacing: unset;
  }
}

/* -------------------------section-hero-------------------------- */
.hero {
  padding: 0 0rem 0 9rem;
}

.hero h1 {
  font-size: 3.5rem;
  line-height: 5.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.hero h1 > span {
  display: block;
  overflow: hidden;
}

/* #italics {
  font-family: "PT Serif", serif;
  font-style: italic;
} */

@media (max-width: 768px) {
  .hero {
    padding: 1rem 1.75rem 1.5rem 1.25rem;
  }
  .hero h1 {
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 0rem 0.5rem 0.5rem 0.5rem;
  }
  .hero h1 {
    font-size: 1.3rem;
    line-height: 2.3rem;
    font-weight: 500;
  }
}

.available img {
  margin-right: 7px;
}
.available {
  font-size: 1rem;
  color: #6ea3e4;
  letter-spacing: -0.3px;
  display: flex;
  font-weight: 500;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .available {
    font-size: 0.85rem;
  }
}

/* ---------------sectionOne--------------- */
@media (min-width: 600px) {
  .sectionOne {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 5%;
  }
}

@media (max-width: 768px) {
  .sectionOne {
    padding: 2%;
  }
}

.section__card,
.section__card2 {
  /* background-color: #2c2c2e; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  margin-bottom: 1rem;
}

#one {
  width: 50rem;
}
#two {
  width: 27rem;
}

@media (max-width: 1024px) {
  .section__card,
  .section__card2 {
    /* background-color: #2c2c2e; */
    height: 13rem;
  }
  #one {
    width: 20rem;
  }
  #two {
    width: 20rem;
  }
}

/* 
-------projects-section----------- */
/* -----------------Projects Section---------------- */
@media (min-width: 576px) {
  .projects-section {
    padding: 3.55rem 0;
  }
}

.projects-title h1 {
  font-size: 3rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  /* font-family: "Regular"; */
}

.projects-title {
  margin: 0 0 0 6rem;
  line-height: 2rem;
}

.projects-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 10rem;
  background: rgba(255, 255, 255, 0.6);
  margin: 2rem 0;
}

@media (min-width: 1200px) {
  .grid-container {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}
@media (max-width: 1024px) {
  .grid-container {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .projects-title {
    margin: 3rem 0 0 0.25rem;
    line-height: 0.5rem;
  }
}

@media (max-width: 768px) {
  .projects-title h1 {
    font-size: 2.7rem;
  }
  .project-list-item__title {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .projects-title h1 {
    font-size: 1.8rem;
  }
  .project-list-item__title {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.grid-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .project-list {
    font-size: 2.9rem;
    line-height: 6rem;
  }
}

.project-list {
  list-style: none;
  counter-reset: project-list-counter;
  margin: 0;
  padding: 0;
}

ol {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  /* font-family: "PT Serif", serif; */
}

.project-list-item:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "00" counter(project-list-counter);
  font-size: 0.5rem;
  line-height: 1.25;
}

.project-list-item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  counter-increment: project-list-counter;
  margin: 0 0 0.89rem 0;
}

.project-list {
  overflow: hidden;
}
.project-list a {
  overflow: hidden;
}

.project-list a span {
  position: relative;
  display: inline-block;
  transition: all 0.6s;
}

.project-list a span::before {
  color: #fff;
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}
.project-list a:hover span {
  transform: translateY(-100%);
}

@media (min-width: 576px) {
  .project-list-item__link {
    padding: 3rem 0 1.5rem;
    margin-top: -1.5rem;
    text-decoration: none;
  }
}

.project-list-item__link {
  display: block;
  max-width: 100%;
  text-decoration: none;
}
.project-list-item__title {
  position: relative;
  font-weight: 500;
  overflow: hidden;
  margin: 1.5rem 0 -0.5rem 0;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
@media (max-width: 768px) {
  .project-list-item__title {
    margin: 1.5rem 0 0 0;
  }
}

.project-list-item__subtitle {
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: none;
  text-align: right;
  padding-bottom: 0.895rem;
  border-bottom: 1px solid rgba(65, 65, 65, 0.6);
}

/* --------------foooter------------ */

.footer {
  border-top: 0.5px solid rgb(61, 61, 61);
  bottom: 0;
  max-width: 100vw;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  transition: all 150ms ease-in-out;
}

#footer__name {
  flex-shrink: 3;
}

#footer_contact,
#footer-contact2 {
  text-align: right;
}

#footer__email a {
  color: rgba(255, 255, 255, 0.8);
  transition: color 150ms ease-in-out;
}
#footer__email a:hover {
  color: #6ea3e4;
}

.f_bold,
.f_date {
  display: block;
  font-weight: 600;
}

@media (max-width: 768px) {
  #footer__name {
    display: none;
  }
  .f_bold {
    text-align: right;
  }
  .f_date {
    text-align: left;
  }
  #footer_contact2 {
    display: none;
  }
}
